body {
  background-image: url(./assets/bach.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(6, 26, 53);
}

.library {
  color:rgb(17, 30, 54) !important;
  font-family:cursive !important;
}
.form {
  background-color: rgb(6, 26, 53);
  padding: 20px;
}

.book {
  background-image: url(./assets/book.jpg);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 260px !important;
  height: 300px !important;
}

.book-read,
.delete-button {
  background-color: #f1b81c;
}

.w3-modal-content {
  margin-top: 0;
  width: 25% !important;
  opacity: 0.87;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  background-color: rgb(245, 195, 133);
}
